body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

img {
    height: 150px;
}

header {
    background-color: #0b8eab;
    color: white;
    padding: 15px;
}

#koala-table {
    text-align: center;
}
table {
    display: inline-block;
    justify-content: center;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
  }
th {
    height: 50px;
}
th, td {
    padding: 10px;
}